body {

    border: 2px solid black;
    border-radius: 10px;

}

header {

    text-align: center;

}

.container {

    display: flex;
    flex: 1;
    height: 50vh; /* This is the height of the "body" changing this will adjust the size of the black box */

}

.right {

    flex: 1;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */
    border: 2px solid red;

}

.left {

    flex: 1;
    display: flex;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */
    border: 2px solid blue;

}

#select-file-button {

    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;

}

#calculate-forecast-button {

    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;

}