/* Apply box-sizing globally */

body {
    /*max-width: 1200px;*/
    border: 2px solid black;
}

header {

    text-align: center;

}

.container {
    display: flex;
    flex: 1;
    height: 50vh; 
}

.right {
    flex: 1;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */
    border: 2px solid red;
}

.left {

    flex: 1;
    display: flex;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */
    border: 2px solid blue;
}

#data-import {

    padding: 10px;

}


#select-file {

    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;

}
  