body {

    border: 2px solid black;
    border-radius: 10px;

}

header {

    text-align: center;

}

.container {

    display: flex;
    overflow: hidden;
    flex: 1;
    height: 50vh; /* This is the height of the "body" changing this will adjust the size of the black box */

}

.right {

    flex: 1;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */
    border: 2px solid red;

}

.left {

    flex: 1;
    display: flex;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */
    border: 2px solid blue;

}

#select-file-button {

    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;

}

#calculate-forecast-button {

    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;

}

/* Makes the forecast chart 95% of its parent */
#forecastChart {
    
    max-width: 95%;
    max-height: 95%;

}

/* Makes sure the forecast chart is centered, and doesn't  */
.canvas-container {

    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100%; /* Ensures it spans the section */
    height: 100%; /* If necessary, set a height */

}